.sortIcon {
	display: none;
	margin-right: 8px;
}

.active {
	font-weight: bold;
	color: var(--primary);
}

.active .sortIcon {
	display: block;
}

.sort {
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;
}

.sort span {
	cursor: pointer;
	display: grid;
	grid-template-columns: 20px 1fr;
	gap: 10px;
	align-items: center;
}

.sort span:not(.active) {
	grid-template-columns: 1fr;
}