.tag {
	display: inline-block;

	box-sizing: border-box;
	margin-right: 5px;

	border-radius: 20px;
}

.s {
	padding: 5px 10px;

	font-size: 12px;
}

.l {
	padding: 5px 10px;

	font-size: 14px;
}

.transparent {
	color: var(--black);
	border: 1px solid var(--grey-light);
}

.red {
	color: var(--white);
	background-color: #DE0000;
}

.green {
	color: var(--green);
	border: 1px solid var(--green);
	background: var(--green-light);
}

.grey {
	color: var(--white);
	background-color: var(--black);
}

.primary {
	color: var(--primary);
	border: 1px solid var(--primary);
}

.link {
	cursor: pointer;
	transition: all 0.2s;
}

.link:hover {
	transform: scale(1.1);
}
